/* Global styles */
* {
    margin: 0;
    padding: 0;
}


/* common-button */

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}

.btn-primary:hover {
    background: #ec8299;
}

/* common-styles*/
body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;

    color: rgba(39, 39, 39, 0.60);
}


/* common-Heading */

.title {
    font-size: 40px;
    color: #272727;
    font-family: 'lato';
    padding-top: 100px;
    font-weight: 800;
    text-align: ;
}

/* common-paragraph  */

.description {

    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    line-height: 30px;
    letter-spacing: .8px;

}





/* ---banner-section ---*/


.banner-title {
    color: #272727;
    font-family: 'lato';
    padding-top: 100px;
    padding-left: 130px;
    margin-bottom: 0px;
    font-size: 56px;
    font-weight: 800;
}


.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.banner-info h3 {
    text-align: left;
}

.banner-info p {
    padding: 32px;
    text-align: left;
    padding-left: 130px;


}

.banner-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    gap: 170px;
    padding-right: 80px;
    background-color: #fceef1;
}

.banner-img {

    width: 353px;
    height: 509px;
    margin-top: 70px;
    margin-right: 50px;

}

.banner-info button {
    margin-left: 130px;
}

/* our featured section */

.featured {
    padding-top: 170px;
}

.gallery-section {
    width: 85%;
    margin: auto;

}

.text-section p {
    text-align: center;
    padding: 25px 0px 40px;
}

.img-gallery {
    display: flex;
    justify-content: space-between;
    padding: 0px 120px;
}

.img-box {
    width: 320px;
}

.round-img-box {
    border-radius: 200px 200px 0px 0px;
    padding: 30px 30px 0px 30px;
    display: flex;
    vertical-align: center;
    margin-right: 20px;
    background: rgba(167, 33, 98, 0.15);
    height: 370px;

}

.round-img-box2 {
    border-radius: 200px 200px 0px 0px;
    padding: 30px 30px 0px 30px;
    display: flex;
    vertical-align: center;
    margin-right: 20px;
    background: #0597A026;
    height: 370px;
    position: ;

}

.round-img-box3 {
    border-radius: 200px 200px 0px 0px;
    padding: 30px 30px 0px 30px;
    display: flex;
    vertical-align: center;
    margin-right: 20px;
    background: #477D1126;
    height: 370px;

}


.flower {
    width: 200px;
    height: 299px;
    margin-top: 70px;
    margin-left: 20px;
}

.img-box a {
    text-align: center;
    display: block;
    color: #272727;
    margin-top: 34px;
    font-weight: 700;
}


/* --.our-support related styles-- */
.our-support-item {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 100px;

}

.our-support-section {
    padding-bottom: 100px;

}


.our-support-box {
    padding: 40px;
}



/* --Exciting offer section-- */


.Exciting-offer {
    background-color: #fceef1;


}

.Exciting-offer-container {
    display: flex;
    padding: 110px 130px 100px;

    align-items: middle;
    justify-content: space-between;
    text-align: center;

}

.Exciting-offer-column1 p {
    padding: 40px;

}

.Exciting-offer-column1 button {
    margin-left: 10px;
}

/*-- instagram-section-- */

.instagram-container {}

.insta-text h3 {
    text-align: center;

}

.insta-text p {
    padding: 40px;
}


.instagram-imgage-gallery {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 0px 130px;
}

.insta-img {
    width: 232px;
    height: 232px;

}

.btn-follow {
    padding-top: 50px;
    padding-bottom: 30px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.btn-follow button {
    margin-left: 230px;
}



/*----newsletter-section--- */

.newsletter {
    background: url(images/Rectangle\ 9.png);
    width: 80%;
    margin: 0 auto;
    padding: 100px 0px;
    border-radius: 8px;

}

.newsletter-section {
    padding: 30px 0px 100px;
}


.newsletter>.description {

    padding: 40px;
}

.newsletter>form {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.newsletter input {
    border: none;
    width: 600px;
    height: 65px;
    margin-right: 21px;
    padding-left: 19px;
    border-radius: 9px;
}

/*--footer-section-- */


.footer-info>.title {

    color: white;
    text-align: center;
}

.footer-info>.description {
    padding-top: 30px;
    color: white;
    text-align: center;

}

.footer-text-color {
    color: #E55473
     
}

.footer-info {
    background: #111010;
    color: rgba(255, 255, 255, 0.90);
    padding-bottom: 60px;
}

.copy-right{
    padding-top: 35px;
    text-align: center;
    color: rgba(255, 255, 255, 0.40);
    letter-spacing: .8px;   

}